.cardPost {
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.cardPost:hover {
  color: grey;
}
.cardPostTitle {
  padding: 8px;
  text-transform: capitalize;
}
.cardPostHeader {
  padding: 8px;
}
.cardPostHeader img {
  width: 100%;
  height: 200px;
}
.cardPostContent {
  text-align: justify;
  padding: 8px;
}

.postAuthorName {
  padding: 8px;
  font-style: italic;
  font-weight: lighter;
}
