.postComments {
  border-bottom: 1px solid darkslategrey;
  padding: 10px;
  margin-bottom: 10px;
}

.postCommentsName {
  font-weight: bold;
  margin-left: 48px;
}
.postCommentsEmail {
  margin-left: 13px;
}
.postCommentsAuthor {
  text-transform: lowercase;
}

.postCommentsContent {
  margin-left: 48px;
}
